# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Banco de dados
*.db
*.sqlite
*.sqlite3 